@model IEnumerable<Common.ProductsSearch>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logistics_cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thumbnail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logistics_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviews)
            </td>
            <td>
                    <img src="@item.thumbnail" alt="Thumbnail" />
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { product_id = item.product_id }) |
            </td>
        </tr>
}
    </tbody>
</table>
